<!-- Base template that defines the shared HTML structure -->
<!-- Provides layout blocks that other PUG templates extend -->

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    block content