doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/static/styles.css")
  body
    header
      a(href="/")
        h1 TapThat

      nav
        ul
          li
            a(href="/") Discover
          li
            a(href="/users") Users
          li
            a(href="/pubs") Pubs

    block content

    footer
      p © 2026 TapThat
