extends layout

block content
  main.container
    .map-wrapper
        #map

        button#addReviewBtn.map-btn.add-btn ✚
        button#directionsBtn.map-btn.dir-btn ➹

  link(rel="stylesheet", href="https://unpkg.com/leaflet/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet/dist/leaflet.js")
  script(src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js")
  link(rel="stylesheet", href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css")
  script(src="/static/maps.js")