doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 TapThat
      p Find pubs. Rate pints. Discover the best pours.

      nav
        ul
          li
            a(href="/users") View Users
          li
            a(href="/pubs") View Pubs

    block content

    footer
      p © 2026 TapThat
