doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      a(href="/")
        h1 TapThat

      nav
        ul
          li
            a(href="/users") View Users
          li
            a(href="/pubs") View Pubs

    block content

    footer
      p © 2026 TapThat
